<div class="siBar container-fluid">
<img class="multicloudImg" src="../../assets/images/multicloud.png" alt="multicloud Logo">
<div class="signIn">
    <div [(ngModel)]="sInisSingedIn" ngDefaultControl [ngModelOptions]="{standalone: true}"></div>
    <h3 class="sI-class" *ngIf="readsessionStorageValue('userSignedIn') == 'SignedUser'">{{signedInName}}</h3>
    <h3 class="sI-class" *ngIf="readsessionStorageValue('userSignedIn') === null">{{signInName}}</h3>
    <br><br>
    <h4 *ngIf="sInisSingedIn || readsessionStorageValue('userSignedIn')== 'SignedUser'">Dear customer, you are already logged in</h4>
    <br>
    <button class="btn btn-info dlLgBtn" *ngIf="sInisSingedIn || readsessionStorageValue('userSignedIn')== 'SignedUser'" (click)="customerLogOut()">Log Out</button>
    <br>
    <h3 *ngIf="sInisSingedIn || readsessionStorageValue('userSignedIn')== 'SignedUser'">Dear customer,do you like to delete your account?</h3>
    <br>
    <button class="btn btn-danger dlLgBtn" *ngIf="sInisSingedIn || readsessionStorageValue('userSignedIn')== 'SignedUser'" (click)="customerDelete()">Delete Account</button>
    <div [hidden]="sInisSingedIn || readsessionStorageValue('userSignedIn')== 'SignedUser'" class="row">
        <div class="column">
            <form>
                <div class="form-group">
                <label for="uname">Username:  </label>
               <input type="text" id="userNameSiInput" name="userNameSiInput" #userNameSiInput="ngModel" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="jdoe" required>
                    <div class="alert alert-danger" *ngIf="userNameSiInput.invalid && (userNameSiInput.dirty || userNameSiInput.touched)">
                      <pre *ngIf="userNameSiInput.errors.required">Required</pre>
                    </div>
                </div>
                <br>
                <div class="form-group">
                <label for="pword">Password:  </label>
                <input type="password" id="pswSiInput" name="pswSiInput" #pswSiInput="ngModel" [(ngModel)]="password"  [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Password" required>
                    <div class="alert alert-danger" *ngIf="pswSiInput.invalid && (pswSiInput.dirty || pswSiInput.touched)">
                      <pre *ngIf="pswSiInput.errors.required">Required</pre>
                    </div>
                </div>
                <br>  
                <button type="submit" class="btn btn-info sbSubmit" [disabled]="!userNameSiInput.valid || !pswSiInput.valid " (click)="sendUserInfo()">Sign in to Account</button> 
            </form> 
            <!-- <p>First name value: {{ userNameSiInput.value }}</p>
            <p>First name valid: {{ userNameSiInput.valid }}</p> -->
        </div>
    </div>
</div>
</div>
