.multicloudImg {
  margin-left: 150px;
  margin-top: 50px;
  width: 180px;
  float: left;
}
.sI-class{
  margin-bottom: -20px;
}
.signIn {
  float: left;
  margin-top: 50px;
  margin-left: 150px;
}
.row {
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
  }
  .container-fluid {
    background-color: hsla(219, 69%, 35%, 0.884);
    width:180%;
    z-index: 2;
    bottom: 0;
    left: 0;
    right:0;
    overflow: hidden;
    margin-right:0;
    margin-left:0;
    padding-right:0;
    padding-left:0;
}
  .column {
    flex: 50%;
  }
  .form-group{
    width: 300px;
  }
  h3{
    margin-left: 40px;
  }
  .siBar{
   margin-top: 100px;
   margin-bottom: 50px; 
  }
  .sbSubmit{
    margin-bottom: 50px; 
  }