@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
#team_name {
  margin-left: 20px;
}
.team-spacer {
  margin-left: 60px;
}
.card {
  width: 250px;
}
.mdPadding {
  padding-left: 5px;
  padding-right: 5px;
}
.cnSecond {
  margin-top: 30px;
  background: #0a2570f8;
  color: #627482 !important;
}
small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}
.bold-text {
  color: #989c9e !important;
}
.mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}
h3 {
  font-size: calc(
    34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}
.social {
  font-size: 21px !important;
}
.rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}
.fa-twitter {
  background: #55acee;
}
.fa-facebook-square {
  background: #45bbff;
}
.fa-linkedin-square {
  background: #007bb5;
}
fa-instagram {
  background: #f40083;
}
/* For mobile phones: */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
  only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  only screen and (min-resolution: 192dpi) and (min-width: 320px),
  only screen and (min-resolution: 2dppx) and (min-width: 320px) {
  /* Small screen, retina, stuff to override above media query */
}
/* Small screen, Iphone4*/
@media only screen and (min-width: 320px) {
  /* [class*="col-"] {
    width: 200px;
  } */
  .fixed-header {
    background-color: rgba(8, 22, 83, 0.952);
    width: 750px;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    color: #627482 !important;
  }
  .stFooter {
    width: 100%;
    margin-bottom: 0px;
  }
  .mdPadding {
    padding-left: 5px;
    padding-right: 5px;
  }
  .container {
    width: 100%;
    position:relative;
    height:2200px;
  }
  .footer-div {
    width: 750px;
    min-height: 350px;
    position: absolute;
    margin-top: 50px;
    background: linear-gradient(0deg, #354c8bc0, 50%, #deeefe);
    font-family: "Rubik", sans-serif;
    clear: both;
    z-index: 2;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow: hidden;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: -50px;
    padding-right: 0;
    padding-left: 0;
  }
}

/* medium screen, Blackberry*/
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  
  .fixed-header {
    width: 100%;
    background-color: rgba(8, 22, 83, 0.952);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    color: #627482 !important;
  }
  .stFooter {
    width: 100%;
    margin-bottom: 0px;
  }
  .mdPadding {
    padding-left: 5px;
    padding-right: 5px;
  }
  .footer-div {
    width: 100%;
    height:350px;
    position: fixed;
    margin-top: 50px;
    background: linear-gradient(0deg,#354c8bc0, 50%, #deeefe);
    font-family: "Rubik", sans-serif;
    clear: both;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
/* desktop screen, desktop and ipad*/
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  
  .fixed-header {
    background-color: rgba(8, 22, 83, 0.952);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    color: #627482 !important;
  }
  .stFooter {
    width: 100%;
    margin-bottom: 0%;
  }
  .mdPadding {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-div {
    position: fixed;
    height:320px;
    width: 100%;  
    background: linear-gradient(0deg,#354c8bc0, 50%, #deeefe);
    font-family: "Rubik", sans-serif;
    clear: both;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
