@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
#team_name {
  margin-left: 20px;
}
.team-spacer {
  margin-left: 60px;
}
.card {
  width: 250px;
}
.fixed-header {
  background-color: rgba(8, 22, 83, 0.952);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  color: #627482 !important;
}

.footer-div {
  margin-top: 50px;
  background: linear-gradient(0deg, #354c8bc0, 50%, #deeefe);
  font-family: "Rubik", sans-serif;
  /*    background: #354c8bc0; */
}

.nFooter {
  clear: both;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
}
.cnSecond {
  margin-top: 30px;
  background: #0a2570f8;
  color: #627482 !important;
}
.stFooter {
  width: 100%;
  margin-bottom: 0px;
}

small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.bold-text {
  color: #989c9e !important;
}

.mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

h3 {
  font-size: calc(
    34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.social {
  font-size: 21px !important;
}

.rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}
.fa-twitter-square {
  background: #55acee;
}
.fa-facebook-square {
  background: #45bbff;
}
.fa-linkedin-square {
  background: #007bb5;
}
fa-instagram-square {
  background: #f40083;
}
