.centerImg::before,
.centerImg::after {
  transform-origin: center bottom;
  transform-style: preserve-3d;
  position: absolute;
  content: url("../../assets/images/multicloud.png");
  display: block;
  width: 170px;
  height: 170px;
  border-radius: 20px;
} 

.hmBar {
  margin-top: 150px;
}

p {
  font-size: 25px;
}
.mtIcon {
  margin-right: 15px;
  size: 24px;
}
h1,
h2,
h3 {
  margin-top: 30px;
  font-size: 35px;
  color: rgb(30, 61, 121);
  margin-bottom: 30px;
}
@keyframes textAnime {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 100px;
    width: 100%;
  }
}
@keyframes f {
  from {
    clip-path: inset(0 80% 0 0);
  }
  50%,
  to {
    clip-path: inset(0 0% 0 0);
  }
}
@keyframes g {
  from {
    clip-path: inset(0 0 0 20%);
    transform-origin: 20% 0;
  }
  50%,
  to {
    clip-path: inset(0 0 0 100%);
    transform-origin: 100% 0;
  }
}
@media only screen and (min-width: 320px) {
  .nBox {
    margin-top: 30px;
    border-radius: 15px;
    width: 300px;
  }
  .homeTxt {
    width: 400px;
    border-radius: 15px;
    margin-top: 50px;
    text-align: left;
    padding-left: 0;
    background-color: rgba(141, 162, 192, 0.664);
  }
  .homeMsm {
    margin-left: 30px;
    margin-top: 200px;
    width: 350px;
    height: 1850px;
    text-align: center;
    position: absolute;
    animation-name: textAnime;
    animation-duration: 7s;
    animation-iteration-count: 1;
  }
  .centerImg::before {
    background-image: url("../../assets/images/multicloud.png");
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 130px;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform-origin: center bottom;
    animation: f 10s both;
    content: "";
  }
  .centerImg::after {
    background-image: url("../../assets/images/multicloud.png");
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    width: 170px;
    height: 170px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 130px;
    filter: brightness(0.2);
    transform: rotateY(-180deg);
    animation: g 10s both;
    content: "";
  }
  .spHome {
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 15px;
    border-radius: 5px;
    min-width: 150px;
  }
  .siHome {
    margin-left: 25px;
    margin-bottom: 30px;
    font-size: 15px;
    border-radius: 5px;
    min-width: 150px;
  }
  .stBkImage {
    height: 1800px;
    width: 450px;
    z-index:2;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    background-image: url("../../assets/images/homeBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .nBox {
    margin-top: 30px;
    border-radius: 15px;
    width: 400px;
  }
  .homeTxt {
    width: 600px;
    border-radius: 15px;
    margin-top: 50px;
    text-align: left;
    padding-left: 0;
    background-color: rgba(141, 162, 192, 0.664);
  }
  .homeMsm {
    margin-left: 100px;
    margin-top: 200px;
    width: 600px;
    height: 1800px;
    text-align: center;
    position: absolute;
    animation-name: textAnime;
    animation-duration: 7s;
    animation-iteration-count: 1;
  }
  .centerImg::before {
    background-image: url("../../assets/images/multicloud.png");
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 300px;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform-origin: center bottom;
    animation: f 10s both;
    content: "";
  }
  .centerImg::after {
    background-image: url("../../assets/images/multicloud.png");
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 300px;
    filter: brightness(0.2);
    transform: rotateY(-180deg);
    animation: g 10s both;
    content: "";
  }
  .spHome {
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 15px;
    border-radius: 5px;
    min-width: 150px;
  }
  .siHome {
    margin-left: 150px;
    margin-bottom: 30px;
    font-size: 15px;
    border-radius: 5px;
    min-width: 150px;
  }
  .stBkImage {
    height: 1800px;
    width: 745px;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    background-image: url("../../assets/images/homeBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .nBox {
    margin-top: 30px;
    border-radius: 15px;
    width: 400px;
  }
  .homeTxt {
    width: 600px;
    border-radius: 15px;
    margin-top: 50px;
    text-align: left;
    padding-left: 0;
    background-color: rgba(141, 162, 192, 0.664);
  }
  .homeMsm {
    margin-left: 100px;
    margin-top: 200px;
    width: 75%;
    height: 1000px;
    text-align: center;
    position: absolute;
    animation-name: textAnime;
    animation-duration: 7s;
    animation-iteration-count: 1;
  }
  .centerImg::before {
    background-image: url("../../assets/images/multicloud.png");
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 384px;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform-origin: center bottom;
    animation: f 10s both;
    content: "";
  }
  .centerImg::after {
    background-image: url("../../assets/images/multicloud.png");
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 384px;
    filter: brightness(0.2);
    transform: rotateY(-180deg);
    animation: g 10s both;
    content: "";
  }
  .spHome {
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 15px;
    border-radius: 5px;
    min-width: 150px;
  }
  .siHome {
    margin-left: 140px;
    margin-bottom: 30px;
    font-size: 15px;
    border-radius: 5px;
    min-width: 150px;
  }
  .stBkImage {
    height: 1800px;
    width: 835px;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    background-image: url("../../assets/images/homeBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .nBox {
    margin-top: 30px;
    border-radius: 15px;
    width: 400px;
  }
  .homeTxt {
    width: 830px;
    border-radius: 15px;
    margin-top: 50px;
    text-align: left;
    padding-left: 15px;
    background-color: rgba(141, 162, 192, 0.664);
  }
  .homeMsm {
    margin-left: 100px;
    margin-top: 200px;
    width: 75%;
    height: 1000px;
    text-align: center;
    position: absolute;
    animation-name: textAnime;
    animation-duration: 7s;
    animation-iteration-count: 1;
  }
  .centerImg::before {
    background-image: url("../../assets/images/multicloud.png");
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 500px;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform-origin: center bottom;
    animation: f 10s both;
    content: "";
  }
  .centerImg::after {
    background-image: url("../../assets/images/multicloud.png");
    background-size: contain;
    display: block;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 500px;
    filter: brightness(0.2);
    transform: rotateY(-180deg);
    animation: g 10s both;
    content: "";
  }
  .spHome {
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 15px;
    border-radius: 5px;
    min-width: 150px;
  }
  .siHome {
    margin-left: 200px;
    margin-bottom: 30px;
    font-size: 15px;
    border-radius: 5px;
    min-width: 150px;
  }
  .stBkImage {
    height: 1800px;
    width: 1200px;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin-right: 0;
    margin-left: -50px;
    padding-right: 0;
    padding-left: 0;
    background-image: url("../../assets/images/homeBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
