@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
#team_name{
    margin-left: 20px;
}
#a_one{
    margin-left: 450px;
    color: rgb(212, 225, 236);
}
#a_two{
    margin-left: 60px;
    color: rgb(212, 225, 236);
}
#a_three{
    margin-left: 30px;
    color: rgb(212, 225, 236);
}
#a_four{
    margin-left: 40px;
    color: rgb(212, 225, 236);
}
.team-spacer{
    margin-left: 60px;
}
.card{
    width: 250px;
}
 .fixed-header{
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
} 

.footer-div {
     background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
     font-family: 'Rubik', sans-serif;
     background: #6375c4;
     height: 100 !important
 }

 .container-fluid {
     overflow: hidden;
     margin-top: 250px;
     background: #2a1b80;
     color: #627482 !important;
     margin-bottom: 0;
     padding-bottom: 0
 }

 small {
     font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .bold-text {
     color: #989c9e !important
 }

 .mt-55 {
     margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
 }

 h3 {
     font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .social {
     font-size: 21px !important
 }

 .rights {
     font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
 }