<img class="multicloudImg" src="../../assets/images/multicloud.png" alt="multicloud Logo">
<div class="signUp">
  <div [(ngModel)]="sUpisSingedUp" ngDefaultControl [ngModelOptions]="{standalone: true}"></div>
  <h3 *ngIf="readLocalStorageValue('userSignedUp') == 'SignedUpUser'">{{signedUpName}}</h3>
  <h3 *ngIf="readLocalStorageValue('userSignedUp') === null">{{signUpName}}</h3>
  <h4 *ngIf="sUpisSingedUp || readLocalStorageValue('userSignedUp') == 'SignedUpUser'">Dear customer, you are already signed up</h4>
  <div [hidden]="sUpisSingedUp || readLocalStorageValue('userSignedUp') == 'SignedUpUser'" class="row">
      <div class="column">
          <form>
              <div class="form-group">
              <label for="fname">First name:  </label>
              <input type="text" id="nameInput" name="nameInput" #nameInput="ngModel" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="John" required>
                  <div class="alert alert-danger" *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
                    <pre *ngIf="nameInput.errors.required">Required</pre>
                  </div>
              </div>
              <br />
              <div class="form-group">
              <label for="lname">Last name:  </label>
              <input type="text" id="lastNameInput" name="lastNameInput" #lastNameInput="ngModel" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Doe" required>
                  <div class="alert alert-danger" *ngIf="lastNameInput.invalid && (lastNameInput.dirty || lastNameInput.touched)">
                    <pre *ngIf="lastNameInput.errors.required">Required</pre>
                  </div>
              </div>
              <br />
              <div class="form-group">
              <label for="uname">Username:  </label>
              <input type="text" id="userNameInput" name="userNameInput" #userNameInput="ngModel" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="jdoe" required>
                  <div class="alert alert-danger" *ngIf="userNameInput.invalid && (userNameInput.dirty || userNameInput.touched)">
                    <pre *ngIf="userNameInput.errors.required">Required</pre>
                  </div>
              </div>
              <br />
              <div class="form-group">
              <label for="uemail">Email:  </label>
              <input type="email" id="emailInput" name="emailInput" #emailInput="ngModel" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="john@doe.com" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                  <div class="alert alert-danger" *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                    <pre *ngIf="emailInput.errors.required">Required</pre>
                    <pre *ngIf="emailInput.errors.pattern">Pattern</pre>
                  </div>
              </div>
              <br />
              <div class="form-group">
              <label for="pword">Password:  </label>
              <input type="password" id="pswInput" name="pswInput" #pswInput="ngModel" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Password" required minlength="4">
              <div class="alert alert-danger" *ngIf="pswInput.invalid && (pswInput.dirty || pswInput.touched)">
                <pre *ngIf="pswInput.errors.required">Required</pre>
                <pre *ngIf="pswInput.errors.minlength">Min Length 6 characters</pre>
              </div>
              </div>
              <br />
              <button type="submit" class="btn btn-danger" [disabled]="!nameInput.valid || !lastNameInput.valid || !userNameInput.valid || !emailInput.valid || !pswInput.valid" (click)="signedup()">Create Account</button>  
          </form>
          <br />   
      </div>
  </div>  
</div>
