.centerImg {
  margin-top: 40px;
  margin-left: 400px;
}
.homeMsm{
    margin-left: 100px;
    width: 1000px;
    margin-top: 40px;
    text-align: center;
}
.homeTxt{
    width: 1000px;
}
.hmBar{
  margin-top: 150px;
}