.centerImg {
  margin-top: 10px;
  margin-left: 500px;
  width: 200px;
}
.homeMsm{
    margin-left: 100px;
    width: 1000px;
    margin-top: 40px;
    text-align: center;
}
.homeTxt{
    width: 1000px;
    background-color: rgba(145, 165, 196,0.3);
}
.hmBar{
  margin-top: 150px;
}
p{
  font-size: 25px;
}
.mtIcon{
  margin-right: 15px;
  size: 24px;
}
h2{
  font-size: 35px;
  color: rgb(30, 61, 121);
  margin-bottom: 30px;
}