.homeMsm{
    margin-left: 100px;
    width: 1000px;
    height: 750px;
    margin-top: 160px;
    text-align: center;
    position: absolute;
    animation-name: textAnime;
    animation-duration: 7s;
    animation-iteration-count: 1; 
}
.centerImg::before,.centerImg::after{
      transform-origin:center bottom;
      transform-style:preserve-3d;
      position:absolute; 
      content: url('../../assets/images/multicloud.png');  
      display:block; 
      border-radius:50%;
}  
 .centerImg::before {
      background-image: url('../../assets/images/multicloud.png');
      background-size: contain;
      display: block;
      background-repeat: no-repeat;
      width: 250px;
      height: 250px;
      margin-top: 10px;
      margin-left: 500px;
      border-radius:50%;
      transform-style:preserve-3d;
      transform-origin:center bottom;
      animation:f 10s both; 
      content: '';
}     
  .centerImg::after {
      background-image: url('../../assets/images/multicloud.png');
      background-size: contain;
      display: block;
      background-repeat: no-repeat;
      width: 250px;
      height: 250px; 
      margin-top: 10px;
      margin-left: 500px; 
      filter:brightness(0.2);
      transform:rotateY(-180deg);
      animation:g 10s both;  
      content: '';
}  
.homeTxt{
    width: 100%;
    border-radius: 15px;
    text-align: left;
    padding-left: 0;
    background-color: rgba(165, 183, 204, 0.349);
}
.hmBar{
  margin-top: 150px;
}
.stBkImage{
  height: 1000px;
  width:180%;
  z-index: 2;
  bottom: 0;
  left: 0;
  right:0;
  overflow: hidden;
  margin-right:0;
  margin-left:0;
  padding-right:0;
  padding-left:0;
  background-image: url('../../assets/images/homeBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
p{
  font-size: 25px;
}
.mtIcon{
  margin-right: 15px;
  size: 24px;
}
h2{
  font-size: 35px;
  color: rgb(30, 61, 121);
  margin-bottom: 30px;
}
.siHome{
  margin-left: 400px;
  margin-bottom: 30px;
  font-size: 15px;
  border-radius: 5px;
  min-width: 150px;
}
.spHome{
 margin-left: 70px;
 margin-bottom: 30px;
 font-size: 15px;
 border-radius: 5px;
 min-width: 150px;
}
@keyframes textAnime {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
      margin-left: 100px;
      width: 100%;
  }
}
@keyframes f {
  from {clip-path:inset(0 80% 0 0);}
  50%, to {clip-path:inset(0 0% 0 0);}
}  
@keyframes g {
  from {clip-path:inset(0 0 0 20%);transform-origin:20% 0;}
  50%, to {clip-path:inset(0 0 0 100%);transform-origin:100% 0;}
}