<div class="trHome">
<div class="trBar">
<div class="arrowDrag">
  <p class="textArrow">Drag&Drop Files</p>
  <img src="https://www.freeiconspng.com/uploads/arrow-icon-jpg-arrow-58-icon-free-orange-arrow-icons-arrow-right-icon--9.png" class="arrowIcon" alt="icon-arrow" />
</div>
<div class="leftColumn">
    <div class="leftBox">
        <img class="frImg" *ngIf="!leftServiceForm" src="{{serviceIcons[5]}}" width="64" height="62">
        <button *ngIf="!leftServiceForm" class="services-button" (click)="leftServiceForm = true; apiMatch();">Api to Drag</button>
        <div *ngIf="leftServiceForm">
          <img src="{{serviceIcons[0]}}" width="64" height="64">
          <button [disabled]="!dpApiSelected" class="services-button" (click)="files1=[]; leftServiceForm = false; service1 = 0; dpProcessFiles();">{{serviceNames[0]}}<br>{{serviceAccounts[0]}}</button><br>
          <img src="{{serviceIcons[1]}}" width="64" height="64">
          <button [disabled]="!gdApiSelected" class="services-button" (click)="files1=[]; leftServiceForm = false; service1 = 1; gdProcessFiles();">{{serviceNames[1]}}<br>{{serviceAccounts[1]}}</button><br>
          <img src="{{serviceIcons[2]}}" width="64" height="64">
          <button [disabled]="!odApiSelected" class="services-button" (click)="files1=[]; leftServiceForm = false; service1 = 2; odProcessFiles();">{{serviceNames[2]}}<br>{{serviceAccounts[2]}}</button><br>
          <img src="{{serviceIcons[3]}}" width="64" height="64">
          <button [disabled]="!bxApiSelected" class="services-button" (click)="files1=[]; leftServiceForm = false; service1 = 3; bxProcessFiles();">{{serviceNames[3]}}<br>{{serviceAccounts[3]}}</button><br>
          <img src="{{serviceIcons[4]}}" width="64" height="64">
          <button [disabled]="!flApiSelected" class="services-button" (click)="files1=[]; leftServiceForm = false; service1 = 4; lfProcessFiles();">{{serviceNames[4]}}<br>{{serviceAccounts[4]}}</button>
        </div>
        <br>
        <label class="services">Filters: </label>
        <label>{{filterList(filters, service1)}}</label>
        <div class="boxes">
          <div
            cdkDropList
            id="left"
            #file1List="cdkDropList"
            [cdkDropListData]="files1"
            [cdkDropListConnectedTo]="[file2List]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <img class="folder" src="assets/images/folder.png" width="70" height="70">
            <label class="folder-text">Folder</label>
            <div *ngIf="files1.length > 0">
                <div class="example-box" *ngFor="let fil of files1" cdkDrag>
                  <img class="file" src="assets/images/file.png" width="60" height="60">
                  <label class="file-text">{{fil}}</label>
                </div>
            </div>
            <div *ngIf="folders.length > 0">
              <div class="example-box" *ngFor="let fol of folders" cdkDrag>
                <img class="file" src="assets/images/folder.png" width="60" height="60">
                <label class="file-text">{{fol}}</label>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="rightBox">
      <img class="frImg" *ngIf="!rightServiceForm" src="{{serviceIcons[6]}}" width="66" height="69">
        <button *ngIf="!rightServiceForm" class="services-button" (click)="rightServiceForm = true">Api to Drop</button>
        <div *ngIf="rightServiceForm">
          <img src="{{serviceIcons[0]}}" width="64" height="64">
          <button [disabled]="!dpApiSelected" class="services-button" (click)="files2=[]; rightServiceForm = false; service2 = 0;">{{serviceNames[0]}}<br>{{serviceAccounts[0]}}</button><br>
          <img src="{{serviceIcons[1]}}" width="64" height="64">
          <button [disabled]="!gdApiSelected" class="services-button" (click)="files2=[]; rightServiceForm = false; service2 = 1;">{{serviceNames[1]}}<br>{{serviceAccounts[1]}}</button><br>
          <img src="{{serviceIcons[2]}}" width="64" height="64">
          <button [disabled]="!odApiSelected" class="services-button" (click)="files2=[]; rightServiceForm = false; service2 = 2;">{{serviceNames[2]}}<br>{{serviceAccounts[2]}}</button><br>
          <img src="{{serviceIcons[3]}}" width="64" height="64">
          <button [disabled]="!bxApiSelected" class="services-button" (click)="files2=[]; rightServiceForm = false; service2 = 3;">{{serviceNames[3]}}<br>{{serviceAccounts[3]}}</button><br>
          <img src="{{serviceIcons[4]}}" width="64" height="64">
          <button [disabled]="!flApiSelected" class="services-button" (click)="files2=[]; rightServiceForm = false; service2 = 4;">{{serviceNames[4]}}<br>{{serviceAccounts[4]}}</button>
        </div>
      <br>
      <label class="services">Filters: </label>
      <label>{{filterList(filters, service2)}}</label>
      <div class="boxes">
        <div
          cdkDropList
          id="right"
          #file2List="cdkDropList"
          [cdkDropListData]="files2"
          [cdkDropListConnectedTo]="[file1List]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <img class="folder" src="assets/images/folder.png" width="70" height="70">
            <label class="folder-text">Folder</label>
            <div class="example-box" *ngFor="let fil of files2" cdkDrag>
              <img class="file" src="assets/images/file.png" width="60" height="60">
              <label class="file-text">{{fil}}</label>
            </div>
          </div>
      </div>
    </div>
</div>
</div>
</div>
