<div class="trBar">
<div style="position: absolute; margin-left: 535px; margin-top: 200px; float: left">
  <p>Drag Files to Transfer</p>
  <img src="assets/images/arrow.png" width="150" height="40">
</div>
<div style="margin-top: 40px; margin-left: 100px; width: 100%; overflow: hidden; align-content: center;">
    <div style="width: 600px; float: left;">
      <button (click)="testMatch();">{{matchFound}}</button><br>
        <img *ngIf="!leftServiceForm" src="{{serviceIcons[service1]}}" width="64" height="64">
        <button *ngIf="!leftServiceForm" class="services-button" (click)="leftServiceForm = true">{{serviceNames[service1]}}<br>{{serviceAccounts[service1]}}</button>
        <div *ngIf="leftServiceForm">
          <img src="{{serviceIcons[0]}}" width="64" height="64">{{storedApi[0].toString()}}
          <button [disabled]="(storedApi[0] != serviceNames[0]) || (storedApi[1] != serviceNames[0])" class="services-button" (click)="files1=[]; leftServiceForm = false; service1 = 0; dpProcessFiles('left');">{{serviceNames[0]}}<br>{{serviceAccounts[0]}}</button><br>
          <img src="{{serviceIcons[1]}}" width="64" height="64">
          <button [disabled]="(storedApi[0] != serviceNames[1]) || (storedApi[1] != serviceNames[1])" class="services-button" (click)="files1=[]; displayClientFiles(); leftServiceForm = false; service1 = 1;">{{serviceNames[1]}}<br>{{serviceAccounts[1]}}</button><br>
          <img src="{{serviceIcons[2]}}" width="64" height="64">
          <button [disabled]="(storedApi.includes(serviceNames[2])) || (storedApi[1] != serviceNames[2])" class="services-button" (click)="files1=[]; leftServiceForm = false; service1 = 2; odDisplayFiles();">{{serviceNames[2]}}<br>{{serviceAccounts[2]}}</button><br>
          <img src="{{serviceIcons[3]}}" width="64" height="64">
          <button [disabled]="(storedApi[0] !== serviceNames[3]) || (storedApi[1] !== serviceNames[3])" class="services-button" (click)="files1=[]; leftServiceForm = false; service1 = 3; boxProcessFiles();">{{serviceNames[3]}}<br>{{serviceAccounts[3]}}</button><br>
          <img src="{{serviceIcons[4]}}" width="64" height="64">
          <button [disabled]="(storedApi[0] !== serviceNames[4]) || (storedApi[1] !== serviceNames[4])" class="services-button" (click)="files1=[]; leftServiceForm = false; getLocalFiles('left'); service1 = 4;">{{serviceNames[4]}}<br>{{serviceAccounts[4]}}</button>
        </div>
        <br>
        <label class="services">Filters: </label>
        <label>{{filterList(filters, service1)}}</label>
        <div class="boxes">
          <div
            cdkDropList
            id="left"
            #file1List="cdkDropList"
            [cdkDropListData]="files1"
            [cdkDropListConnectedTo]="[file2List]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <img class="folder" src="assets/images/folder.png" width="70" height="70">
            <label class="folder-text">Folder</label>
            <div *ngIf="files1.length > 0">
                <div class="example-box" *ngFor="let fil of files1" cdkDrag>
                  <img class="file" src="assets/images/file.png" width="60" height="60">
                  <label class="file-text">{{fil}}</label>
                </div>
            </div>
            <div *ngIf="folders.length > 0">
              <div class="example-box" *ngFor="let fol of folders" cdkDrag>
                <img class="file" src="assets/images/folder.png" width="60" height="60">
                <label class="file-text">{{fol}}</label>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div style="margin-left: 620px;">
      <img *ngIf="!rightServiceForm" src="{{serviceIcons[service2]}}" width="64" height="64">
        <button *ngIf="!rightServiceForm" class="services-button" (click)="rightServiceForm = true">{{serviceNames[service2]}}<br>{{serviceAccounts[service2]}}</button>
        <div *ngIf="rightServiceForm">
          <img src="{{serviceIcons[0]}}" width="64" height="64">
          <button [disabled]="(storedApi[0] !== serviceNames[0]) || (storedApi[1] !== serviceNames[0])" class="services-button" (click)="files2=[]; rightServiceForm = false; service2 = 0;  dpProcessFiles('right')">{{serviceNames[0]}}<br>{{serviceAccounts[0]}}</button><br>
          <img src="{{serviceIcons[1]}}" width="64" height="64">
          <button [disabled]="(storedApi[0] !== serviceNames[1]) || (storedApi[1] !== serviceNames[1])" class="services-button" (click)="files2=[]; rightServiceForm = false; service2 = 1;">{{serviceNames[1]}}<br>{{serviceAccounts[1]}}</button><br>
          <img src="{{serviceIcons[2]}}" width="64" height="64">
          <button [disabled]="(storedApi[0] !== serviceNames[2]) || (storedApi[1] !== serviceNames[2])" class="services-button" (click)="files2=[]; rightServiceForm = false; service2 = 2;">{{serviceNames[2]}}<br>{{serviceAccounts[2]}}</button><br>
          <img src="{{serviceIcons[3]}}" width="64" height="64">
          <button [disabled]="(storedApi[0] !== serviceNames[3]) || (storedApi[1] !== serviceNames[3])" class="services-button" (click)="files2=[]; rightServiceForm = false; service2 = 3; ">{{serviceNames[3]}}<br>{{serviceAccounts[3]}}</button><br>
          <img src="{{serviceIcons[4]}}" width="64" height="64">
          <button [disabled]="(storedApi[0] !== serviceNames[4]) || (storedApi[1] !== serviceNames[4])" class="services-button" (click)="files2=[]; rightServiceForm = false; getLocalFiles('right'); service2 = 4;">{{serviceNames[4]}}<br>{{serviceAccounts[4]}}</button>
        </div>
      <br>
      <label class="services">Filters: </label>
      <label>{{filterList(filters, service2)}}</label>
      <div class="boxes">
        <div
          cdkDropList
          id="right"
          #file2List="cdkDropList"
          [cdkDropListData]="files2"
          [cdkDropListConnectedTo]="[file1List]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <img class="folder" src="assets/images/folder.png" width="70" height="70">
            <label class="folder-text">Folder</label>
            <div class="example-box" *ngFor="let fil of files2" cdkDrag>
              <img class="file" src="assets/images/file.png" width="60" height="60">
              <label class="file-text">{{fil}}</label>
            </div>
          </div>
      </div>
    </div>
</div>
</div>
