<div class="my-container">
<p>services works!</p>
<br />
<br />
<h3>Get dropbox files in Server-side way</h3>
<p>Please run the server and click on the link below</p>
<p>Go through the proccess, come back to the services page</p>
<p>Click on the button FromExpressServer </p>

<br />
<a href="https://www.dropbox.com/oauth2/authorize?client_id=m69dopii079t806&response_type=code&scope=files.metadata.read files.content.write files.content.read&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Ffeatures" >dropboxlogin</a>
<br />
<button (click)="createDpPicker()">DropBoxPicker</button>
<br />
<p>Google Drive file Picker</p>
<br />
<button (click)="loadPicker()">GoogleDrivePicker</button>
<img id="image"/>
</div>
